In [137]:
import numpy as np
import pandas as pd

In [138]:
df = pd.read_csv("../data_full/persons.csv")

In [139]:
df.columns

Index(['household_id', 'person_id', 'SEX', 'AGE', 'SCH', 'ESR', 'NAICSP02',
       'SOCP10', 'SW_UNSPLIT_IND', 'SW_OCCUP', 'SW_SPLIT_IND'],
      dtype='object')

In [140]:
# 0 is under 16, 1/2 is employed, 3 is unemployed, 4/5 is in army, 6 is in not in labor force
df["ESR"].value_counts()

1    6150745
6    3821596
0    2940113
3     538785
2     181667
4      12918
5        178
Name: ESR, dtype: int64

In [141]:
# supposedly total amount of unemployed people/people without industry
2940113 + 3821596 + 538785

7300494

phase I se data update plan numbering (unsplit) <br>
unemployed - 6293425 <br>
other services - 1672653<br>
retail production - 1125736<br>
healthcare - 948314<br>
construction - 455444 <br>
gradeschool education - 403232<br>
government - 382401 (need to subtract unemployed people from the reported 23 value count) <br> 
heavy industry production - 344326 <br>
retail office - 343196 <br>
transportation handling - 287045<br>
heavy industry office - 228161 <br>
post-secondary education - 211044<br>
light industry production - 179347 <br>
transportation equipment production - 150521 <br>
wholesale office - 135789 <br>
light industry office - 95329 <br>
transportation equipment office - 73152 <br>
hotel/accomodation - 61490<br>
wholesale production - 60881 <br>
agriculture production - 58637 <br>
utilities - 53368<br>
metal production - 52847 <br>
metal office - 17467 <br>
agriculture office - 12177 <br>

<br>
0 is unemployed<br>
1 is agriculture production<br>
2 is agriculture office <br>
3 is metal production <br>
4 is metal office <br>
5 is light industry production<br>
6 is light industry office <br>
7 is heavy industry production<br>
8 is heavy industry office <br>
9 is transportation equipment production <br>
10 is transportation equipment office <br>
11 is wholesale production<br>
12 is wholesale office <br>
13 is retail production<br>
14 is retail office <br>
15 is hotel/accomodation<br>
16 is construction<br>
17 is healthcare<br>
18 is transportation handling<br>
19 is utilities<br>
20 is other services <br>
21 is gradeschool education<br>
22 is post-secondary education<br>
23 is government/other (added with unemployed for some reason) <br>
<br>
sums of split industries are consistent with unsplit; non-split industries are also consistent

In [142]:
# need to fix sw_split_ind specification for category 23 - make actual categvory 23 and unemployed
df["SW_SPLIT_IND"].value_counts()

23    6675826
20    1672653
13    1125736
17     948314
16     455444
21     403232
7      344326
14     343196
18     287045
8      228161
22     211044
5      179347
9      150521
12     135789
6       95329
10      73152
15      61490
11      60881
1       58637
19      53368
3       52847
4       17487
2       12177
Name: SW_SPLIT_IND, dtype: int64

In [143]:
# fixing government category
df["SW_SPLIT_IND"] = np.where(df["SW_UNSPLIT_IND"] == 0, 0, df["SW_SPLIT_IND"])

phase I se data update plan numbering <br>
unemployed - 6293425 <br>
other services - 1672653<br>
retail - 1468932<br>
healthcare - 948314<br>
heavy industry - 572487<br>
construction - 455444<br>
gradeschool education - 403232<br>
government/other - 382401<br>
transportation handling - 287045<br>
light industry - 274676<br>
transportation equipment - 223673<br>
post-secondary education - 211044<br>
wholesale - 196670<br>
agriculture - 70814<br>
metal - 70334<br>
hotel/accomodation - 61490<br>
utilities - 53368<br>
<br>
0 is unemployed<br>
1 is agriculture<br>
2 is metal<br>
3 is light industry<br>
4 is heavy industry<br>
5 is transportation equipment<br>
6 is wholesale<br>
7 is retail<br>
8 is hotel/accomodation<br>
9 is construction<br>
10 is healthcare<br>
11 is transportation handling<br>
12 is utilities<br>
13 is other services <br>
14 is gradeschool education<br>
15 is post-secondary education<br>
16 is government/other

land use csv numbering <br>
heavy industry - 1672653 <br>
high school educatiton - 1468932 <br>
agriculture - 948314 <br>
healthcare - 572487 <br>
hotel accomodation - 455444 <br>
transportation equipment - 403232 <br>
retail - 382401 <br>
metal - 287045 <br>
transportation handling - 274676 <br>
other services - 223673 <br>
wholesale - 211044 <br>
governemnt services - 196670 <br>
utilities - 70814 <br>
construction - 70334 <br>
college education - 61490 <br>
light industry - 53368 <br>
<br>
0 is unemployed <br>
1 is utilities <br>
2 is construction <br>
3 is transportation handling <br>
4 is healthcare <br>
5 is other services <br>
6 is government services <br>
7 is high school education <br>
8 is college education <br>
9 is hotel accomodation <br>
10 is agriculture <br>
11 is metal <br>
12 is light industry <br>
13 is heavy industry <br>
14 is transportation equipment <br>
15 is wholesale <br>
16 is retail <br>

In [144]:
df["SW_UNSPLIT_IND"].value_counts().reset_index()

    index  SW_UNSPLIT_IND
0       0         6293425
1      13         1672653
2       7         1468932
3      10          948314
4       4          572487
5       9          455444
6      14          403232
7      16          382401
8      11          287045
9       3          274676
10      5          223673
11     15          211044
12      6          196670
13      1           70814
14      2           70334
15      8           61490
16     12           53368

In [145]:
# equivalent to SW_UNSPLIT_IND
df["NAICSP02"].value_counts()

0     6293425
13    1672653
7     1468932
10     948314
4      572487
9      455444
14     403232
16     382401
11     287045
3      274676
5      223673
15     211044
6      196670
1       70814
2       70334
8       61490
12      53368
Name: NAICSP02, dtype: int64

1 = 'Managers' <br>
2 = 'Business and financial operation workers'<br>
3 = 'Professionals'<br>
4 = 'Post-secondary education workers'<br>
5 = 'Primary education workers'<br>
6 = 'Entertainers and media workers'<br>
7 = 'Health workers'<br>
8 = 'Service workers'<br>
9 = 'Food workers'<br>
10 = 'Retail workers'<br>
11 = 'Non-retail sales workers'<br>
12 = 'Office and administration workers'<br>
13 = 'Agriculture workers'<br>
14 = 'Construction workers'<br>
15 = 'Maintenance and repair workers'<br>
16 = 'Assembly and Fabrication workers'<br>
17 = 'Transport workers'<br>
18 = 'Military workers'

In [146]:
df["SW_OCCUP"].value_counts()

0     5575277
12    1165663
8      706958
16     702401
10     649053
1      629359
7      619633
17     570905
3      553683
9      501133
14     440752
5      364034
11     316821
2      310077
15     279856
6      118430
4       69702
13      62609
18       9656
Name: SW_OCCUP, dtype: int64

In [147]:
# equivalent to SW_OCCUP
df["SOCP10"].value_counts()

0     5575277
12    1165663
8      706958
16     702401
10     649053
1      629359
7      619633
17     570905
3      553683
9      501133
14     440752
5      364034
11     316821
2      310077
15     279856
6      118430
4       69702
13      62609
18       9656
Name: SOCP10, dtype: int64

In [148]:
df = pd.read_csv("../data_full/persons_fixed.csv")

In [149]:
occup_translation = {
    0: "Unemployed",
    1: "Manager",
    2: "business/finance",
    3: "professionals",
    4: "post-secondary education",
    5: "primary education",
    6: "entertainers/media workers",
    7: "health workers",
    8: "service workers",
    9: "food workers",
    10: "retail workers",
    11: "non-retail sales workers (wholesale)",
    12: "office/administration",
    13: "agriculture",
    14: "construction",
    15: "maintenance and repair",
    16: "assemblly/fabrication",
    17: "transport workers",
    18: "military workers"
}

In [150]:
unsplit_ind_translation = {
    0:"unemployed",
    1:"agriculture production",
    2:"agriculture office ",
    3:"metal production ",
    4:"metal office ",
    5:"light industry production",
    6:"light industry office ",
    7:"heavy industry production",
    8:"heavy industry office ",
    9:"transportation equipment production ",
    10:"transportation equipment office ",
    11:"wholesale production",
    12:"wholesale office ",
    13:"retail production",
    14:"retail office ",
    15:"hotel/accomodation",
    16:"construction",
    17:"healthcare",
    18:"transportation handling",
    19:"utilities",
    20:"other services ",
    21:"gradeschool education",
    22:"post-secondary education",
    23:"government/other",
}

In [151]:
df["INDUSTRY_CATEGORIES"] = df["SW_SPLIT_IND"].map(unsplit_ind_translation)
df["OCCUP_CATEGORIES"] = df["SW_OCCUP"].map(occup_translation)

In [152]:
df["ESR"].value_counts()

1    6150745
6    3821596
0    2940113
3     538785
2     181667
4      12918
5        178
Name: ESR, dtype: int64

In [153]:
df[["INDUSTRY_CATEGORIES", "SW_SPLIT_IND"]].groupby(["INDUSTRY_CATEGORIES"]).agg(['count', 'first']).sort_values(by=[("SW_SPLIT_IND", "count")], ascending=False)

                                     SW_SPLIT_IND
                                            count first
INDUSTRY_CATEGORIES
unemployed                                6293425     0
other services                            1672653    20
retail production                         1125736    13
healthcare                                 948314    17
construction                               455444    16
gradeschool education                      403232    21
government/other                           382401    23
heavy industry production                  344326     7
retail office                              343196    14
transportation handling                    287045    18
heavy industry office                      228161     8
post-secondary education                   211044    22
light industry production                  179347     5
transportation equipment production        150521     9
wholesale office                           135789    12
light industry office                       95329     6
transportation equipment office             73152    10
hotel/accomodation                          61490    15
wholesale production                        60881    11
agriculture production                      58637     1
utilities                                   53368    19
metal production                            52847     3
metal office                                17487     4
agriculture office                          12177     2

In [154]:
df[["SW_OCCUP", "OCCUP_CATEGORIES"]].groupby(["OCCUP_CATEGORIES"]).agg(['count', 'first']).sort_values(by=[("SW_OCCUP", "count")], ascending=False)

                                     SW_OCCUP
                                        count first
OCCUP_CATEGORIES
Unemployed                            5575277     0
office/administration                 1165663    12
service workers                        706958     8
assemblly/fabrication                  702401    16
retail workers                         649053    10
Manager                                629359     1
health workers                         619633     7
transport workers                      570905    17
professionals                          553683     3
food workers                           501133     9
construction                           440752    14
primary education                      364034     5
non-retail sales workers (wholesale)   316821    11
business/finance                       310077     2
maintenance and repair                 279856    15
entertainers/media workers             118430     6
post-secondary education                69702     4
agriculture                             62609    13
military workers                         9656    18

In [155]:
# for occupations, need to add mining and government (and insurance/real estate)

In [156]:
df["OCCUP"] = df["SW_OCCUP"]

In [157]:
# occup categories of sw split ind mining production workers
df[df["SW_SPLIT_IND"] == 3]["OCCUP_CATEGORIES"].value_counts()

assemblly/fabrication     31323
transport workers         10587
maintenance and repair     5584
construction               3225
service workers            2113
agriculture                  15
Name: OCCUP_CATEGORIES, dtype: int64

In [158]:
# assume that all metal production workers who are in assembly/fabrictaion are part of the new metal extraction occupation
df["OCCUP"] = np.where((df["SW_SPLIT_IND"] == 3) & (df["SW_OCCUP"] == 16), 19, df["OCCUP"])

In [159]:
# occup categories of people in the sw split government industry
df[df["SW_SPLIT_IND"] == 23]["OCCUP_CATEGORIES"].value_counts()
# unemployed people?

service workers                         97009
office/administration                   75489
professionals                           52119
Unemployed                              48882
Manager                                 30218
business/finance                        29439
health workers                          10991
military workers                         8663
maintenance and repair                   8211
transport workers                        4985
construction                             4797
primary education                        3180
assemblly/fabrication                    2990
entertainers/media workers               1825
food workers                             1193
retail workers                            901
agriculture                               700
non-retail sales workers (wholesale)      581
post-secondary education                  228
Name: OCCUP_CATEGORIES, dtype: int64

In [161]:
# assume that all people who work in the industry government can be classified as working in the government occupation
df["OCCUP"] = np.where(df["SW_SPLIT_IND"] == 23, 20, df["OCCUP"])

In [162]:
df["OCCUP"].value_counts()

0     5526395
12    1090174
16     668088
10     648152
8      609949
7      608642
1      599141
17     565920
3      501564
9      499940
14     435955
20     382401
5      360854
11     316240
2      280638
15     271645
6      116605
4       69474
13      61909
19      31323
18        993
Name: OCCUP, dtype: int64